.background {
  background-image: url("assets/bg.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: auto;
}

.my-card {
  width: 450px;
  border-width: 2px;
  border-style: solid;
  border-color: orange;
  border-radius: 20px;
}
